
.permission-label{
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}


span.badge.badge-info {
    background-color: #ff6e40;
    margin-right: 5px;
    margin-bottom: 5px;
}


.mb-3.col-6.sk {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


.mode-center{
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.test-css{
    padding-right: 10px;
}
